*{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    gap:10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    'header header header'
    'sidebar article article'
    'sidebar releted posts'
    'footer footer footer';
}
.header{
    grid-area: header;
    background: black;
    padding: 20px;
    color: #fff;
}
.sidebar{
    grid-area: sidebar;
    background: gainsboro;
    height: 400px;
    margin-top: -10px;
    padding: 18px;
    padding-top: 5px;
}
.main{
    background: rgb(214, 210, 210);
    margin: -10px;
}
.article1{
    background: whitesmoke;
    height: 115px;
    border: 1px solid rgb(153, 147, 147);
    padding: 10px;
}
.article2{
    background: whitesmoke;
    height: 115px;
    margin-top: 10px;
    border: 1px solid rgb(153, 147, 147);
    padding: 10px;
}
.article3{
    background: whitesmoke;
    height: 115px;
    border: 1px solid rgb(153, 147, 147);
    margin-top: 10px;
    padding: 10px;
}
.footer{
    grid-area: footer;
    text-align: center;
    background: black;
    padding: 20px;
    color: #fff;
    margin-top: -20px;
}
.releted-posts{
    grid-area: releted posts;
    background: gainsboro;
    height: 400px;
    margin-top: -10px;
    padding: 18px;
    padding-top: 5px;

}
